.app-header {
    background-color: var(--clr1);
    color: var(--clr2bg-light);
    
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container h1 {
    /* flex-grow: 1; */
}

.app-nav {
    display: flex;
    gap: 15px;
}


a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}

.app-header .user-data {
    display: grid;
    grid-template-areas: 
    "hello button"
    "balance button";
    column-gap: 20px;
}

.app-header .user-data Link {
    grid-area: hello;
}
.app-header .user-data div {
    grid-area: balance;
}
.app-header .user-data button {
    grid-area: button;
}